<form #myForm (submit)="onSubmit(myForm)">

  <div class="form-group">
    <label>Title</label>
    <input class="form-control" type="text" [(ngModel)]="model.title" name="title"/>
  </div>

  <div class="form-group">
    <label>Director</label>
    <input class="form-control" type="text" [(ngModel)]="model.director" name="director"/>
  </div>

  <div class="form-group">
    <label for="release">Release date</label>
    <input id="release" class="form-control" type="text" [(ngModel)]="model.release" name="release"/>
  </div>

  <div class="form-group">
    <button class="btn btn-primary">Submit</button>
  </div>

</form>

<pre>{{model | json}}</pre>
