<div>
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile *ngFor="let film of data">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>{{film.title}}</mat-card-title>
          <mat-card-subtitle>{{film.director}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>{{film.opening_crawl}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="detail(film.episode_id)">Detail</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

</div>